<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<!--  <h1 class="card-header bg-info">-->
<!--    {{ title }}-->
<!--  </h1>-->
  <h3 class="text-secondary">
    Time series: Unidad de Valor Adquisitivo vs Usd
  </h3>
  <br/>
  <br/>
  <div class="row row-no-gutters" class="text-center justify-content-center justify-content-between center-block">
    <div class="col-xs-6">
    </div>
    <div class="col-xs-6">

              <ngx-charts-line-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="multi"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)">
              </ngx-charts-line-chart>

      </div>
    </div>
</div>
